.layout {
  position: relative;
  width: min(80%, 1290px);
  height: 80vh;
  min-height: 80vh;
  margin: 10vh auto;
  display: grid;
  grid-template-areas: "aside content";
  grid-template-columns: 30% 70%;
  border-radius: 4rem;
  box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
  background-color: var(--color-secondary);

  &__aside {
    grid-area: aside;
  }

  &__content {
    background-color: var(--color-primary);
    grid-area: content;
    border-radius: 4rem;
  }
}

