* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  display: inline;
}

img, video, iframe, picture, figure {
  max-width: 100%;
  display: block;
}

form, input, select, textarea, button, label {
  font-family: inherit;
  font-size: inherit;
  display: block;
  color: inherit;
}

