.home-page {
	min-height      : 100%;
	display         : flex;
	flex-direction  : column;
	justify-content : center;
	align-items     : center;

	&__name {
		font-size     : 3.5rem;
		margin-bottom : 1rem;
		font-weight   : 500;
	}

	&__job {
		font-size   : 2.1rem;
		font-weight : 400;
		color       : var(--color-subtitle);
	}

	&__tech-stack {
		display               : grid;
		grid-template-columns : repeat(3, 1fr);
		gap                   : 2rem;
		margin                : 2rem 0;

		.tech-item {
			display        : flex;
			flex-direction : column;
			align-items    : center;
			gap            : 0.5rem;

			&:last-child {
				display : none;
			}

			span {
				font-size : 1rem;
			}
		}
	}

	@media (min-width : 768px) {

		&__name {
			font-size : 6rem;
		}

		&__tech-stack {
			grid-template-columns : repeat(7, 1fr);

			.tech-item {
				&:last-child {
					display : flex;
				}
			}
		}
	}

	@media (min-width : 992px) {
		.footer,
		.download-btn,
		.social-links {
			display : none
		}
	}
}
